{% extends "base.html" %} 

{% load static %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock %} 

{% block content %}

<div class="register-page-shell">
  <div class="card register-card">
    <div class="card-header text-center">
      <h3>Create Account</h3>
      <p>Join the online quiz platform</p>
    </div>

    <div class="card-body">
      <form method="POST" class="register-form">
        {% csrf_token %} {% if form.errors %}

        <div class="alert alert-danger">{{ form.errors}}</div>

        {% endif %}

        <div class="mb-3">
          <label>Username</label>
          {{ form.username }}
        </div>

        <div class="mb-3">
          <label>Email</label>
          {{ form.email }}
        </div>

        <div class="mb-3">
          <label>Role</label>
          {{ form.role }}
        </div>

        <div class="mb-3">
          <label>Phone Number</label>
          {{ form.phone_number }}
        </div>

        <div class="mb-3">
          <label>Password</label>
          {{ form.password1 }}
        </div>

        <div class="mb-3">
          <label>Confirm Password</label>
          {{ form.password2 }}
        </div>

        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>

      <hr />

      <p class="text-center mb-0">
        Already have an Account?<a href="{% url 'login' %}" class="ms-1"
          >Login</a
        >
      </p>
    </div>
  </div>
</div>

{% endblock %}
